body {
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

.titulo{
    color:white;
}

.entrada{
    color:white;
    border: solid #65006e 0px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#252326));
    background: -moz-linear-gradient(top, #000000, #252326);
    text-decoration: none;
    width: 180px;
    padding: 4px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    outline: none;
    border: solid black 0px;
}

.btn_calcular{
  color:white;
  font-weight: bold;
  width: 220px;
  padding: 8px;
  text-decoration: none;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 1px 8px #cc00cc;
  -moz-box-shadow: 0px 1px 8px #cc00cc;
  box-shadow: 0px 1px 8px #cc00cc;
  border: solid #65006e 0px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ff00ff), to(#53006e));
  background: -moz-linear-gradient(top, #ff00ff, #53006e);
}

.btn_calcular:hover {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#d16bd1), to(#db8adb));
    background: -moz-linear-gradient(top, #d16bd1, #db8adb)
  }

.columna1{
    vertical-align: text-top;
    margin-top: 0%;
    margin-right: 10px;
    margin-left: 2%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ae85f5), to(#b220e3));
    background: -moz-linear-gradient(top, #ae85f5, #b220e3);
}

.columna1-ok{
    margin-top: 0%;
    margin-right: 10px;
    margin-left: 2%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#16fdea), to(#00a89a));
    background: -moz-linear-gradient(top, #16fdea, #00a89a);
}

.columna3{
   vertical-align: text-top;
    margin-top: 0%;
    margin-left:45%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ae85f5), to(#b220e3));
    background: -moz-linear-gradient(top, #ae85f5, #b220e3);
}

.columna3-ok{
    vertical-align: text-top;
     margin-top: 0%;
     margin-left:45%;
     background: -webkit-gradient(linear, 0 0, 0 100%, from(#16fdea), to(#00a89a));
     background: -moz-linear-gradient(top, #16fdea, #00a89a);
 }

.columna5{
    vertical-align: text-top;
    margin-top: 0%;
    margin-right: 10px;
    margin-left: 65%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ae85f5), to(#b220e3));
    background: -moz-linear-gradient(top, #ae85f5, #b220e3);
}

.columna5-ok{
    vertical-align: text-top;
    margin-top: 0%;
    margin-right: 10px;
    margin-left: 65%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#16fdea), to(#00a89a));
    background: -moz-linear-gradient(top, #16fdea, #00a89a);
}

table td:nth-child(1){width: 235px;}

table td:nth-child(3){width: 235px;}

table td:nth-child(5){width: 235px;}

table td:nth-child(7){width: 800px; height: 500px;}

.columna7{
    vertical-align: top;
    margin-left: 80%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ae85f5), to(#b220e3));
    background: -moz-linear-gradient(top, #ae85f5, #b220e3);
}
.columna8{
    vertical-align: text-top;
    margin-top: 0%;
    margin-right: 10px;
    margin-left: 80%;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ae85f5), to(#b220e3));
  background: -moz-linear-gradient(top, #ae85f5, #b220e3);
    height: 50%;}

.espacio{height:3px;}

.mat_adicionales{
    text-align: center;
    width: 800;
}

.resultado_total{
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px; 
    outline: none;
    width: 300px;
    height: 50px;
    font-weight: bold;
    padding: 20px;
    font-size: 25px;
    color: rgb(43, 255, 0);
    border: solid #d91c71 0px;
    background: black;
}

.styled-select {
    height: 30px; 
    width: 100%; 
    overflow: hidden;
    background: url(new_arrow.png) no-repeat right white; 
    border: 1px solid white; 
}